<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Condominios</title>
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/chosen.js"></script>
    <link rel="stylesheet" type="text/css" href="/chosen.css">
    <link rel="stylesheet" type="text/css" href="/style.css">


</head>

<body>
    <div class="container">
        <div class="box">
            <p1>Hello World</p1></br>
            <form method="get" action='/pesquisar/' id="formSearch">
                <select required name="NameCondos" class="NameCondos">
                    <option value="0" />
                    <% if(typeof condos != 'undefined'){
                    condos.forEach(condominium => {%>
                    <option value=<%= condominium.id %>> <%= condominium.name %></option>

                    <%  })}  %>
                </select>
                <input type="submit" value="Buscar" />
            </form>
            <form>
                <% if(typeof condominium != 'undefined'){
            condominium.forEach(cnd => { %>
                <table>
                    <tr>
                        <td>Nome:</td> <td><input type="text" value="<%= cnd.name %>" disabled='disabled' /></td>
                    </tr>
                    <tr>
                        <td>Endereço:</td> <td><input type="text" value="<%= cnd.addres %>" disabled='disabled' /></td>
                    </tr>
                    <tr>
                        <td>CNPJ:</td> <td><input type="text" value="<%= cnd.cnpj %>" disabled='disabled' /></td>
                    </tr>
                </table>
                <% })} %>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/style.js"></script>
</body>

</html>